body {
  width:"100%";
  height: "100%" ;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive ;
}

.navbar {
  font-family: 'Baloo Chettan 2', cursive ;
  font-size: 20px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-custom {
    background-color: #500000;
    /* background-color: #23a6d5; */
    color:white;
}

.nav-item:hover, .nav-item:active {
  background-color: #380000
}

.section-padding{
  height:70px;
  width:"100%" ;
}
.section-header {
  width: 100%;
  background-color: #23a6d5;
  height:100px;
  padding-left:10px  ;
  padding-top:30px ;
  color:white;
  /* margin-top: 70px; */
}

.section-content {
  padding: 20px ;
  padding-top:50px ;
  /* height:300px; */
  font-size: 1.5rem ;
}

.section-content-about {
  /* height:600px; */
}

.custom-card {
  margin-top:10px ;
  font-size: 1.1rem ;
}
.card-desc {
  padding: 0px 10px ;
  margin-top:30px;
  text-align: left;
}

.section-content-publication {
  font-size: 1.15rem ;
  text-align: justify;

}

.paper-title {
  text-decoration:  none;
}

.publication-content {
  margin-top: 50px ;
}

.skill-section-title {
  text-align: left;
  margin-bottom: 40px;
  padding-left: 15px;

}

.skill-tile {
}

.skill-pic {
  height: 100px;
}

.row-second {
  margin-top: 30px;
}
